.App {
  text-align: center;
}

.row {
  height: 80px;
}
.squre {
  height: 80PX;
  width: 80px;
  border-style:solid;
  border-color: black;
  display: inline-block;
}

.playerone {
  height: 80PX;
  width: 80px;
  background-color: red;
  border-style:solid;
  border-color: black;
  display: inline-block;
}

.playertwo {
  height: 80PX;
  width: 80px;
  background-color: blue;
  border-style:solid;
  border-color: black;
  display: inline-block;
}
